
    <div *ngIf="!dadosUser" class="espera">
        <mat-spinner  color="accent" mode="indeterminate"></mat-spinner>


    </div>
<div class="divmae">
    
<div *ngFor="let user of dadosUser" class="divOrganizacao">
    <mat-card class="mat-card" >
        <mat-card-title>{{user.nome}} </mat-card-title>
        <mat-card-subtitle>{{user.username}} </mat-card-subtitle>
        
        <mat-card-content class="mat-card-content">
            <img src='data:image/png;base64,{{user.picByte}}' width="200" height="200">
            
    

        </mat-card-content>
    <div class="buttons">
        <button  mat-raised-button [disabled]="user.username===nome" color="warn" (click)="Apagar(user.codigo, user.username)" >Apagar</button> 
        <button  mat-raised-button  color="basic" (click)="Permissoes()" class="separar">Permissões</button> 

    </div>
        
    </mat-card>
    
    
</div>
</div>