<mat-card routerLink="">
    <mat-card-title>Iniciar Sessão </mat-card-title>
    <mat-card-content>
        <form > 
            <mat-form-field>
                <input matInput placeholder="nome do usuario" [(ngModel)]="user.username" name="username" required minlength="4" >

            </mat-form-field>
            
            
            <mat-form-field>
                <input matInput placeholder="password"   [(ngModel)]="user.password" name="password"  required>


            </mat-form-field>
        </form>
        
        <button  mat-raised-button (click)="iniciar()" color="primary" >iniciar</button> 




    </mat-card-content>


</mat-card>
