<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true"fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="criar">
                Criar Usuario
            </a>
            <a mat-list-item routerLink="adicionar">
              Adicionar produto  
            
            </a>
            <a mat-list-item routerLink="listar">
                    Listar  
                
            </a>
            <a mat-list-item routerLink="vender">
            
                Vender  
            </a>
            <a mat-list-item routerLink="patrimonio">
            
                    Patrimonio  
              </a>
            
              <a mat-list-item routerLink="carregar">
           
                Listar Usuarios
          </a>
                 
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet>


        </router-outlet>
    </mat-sidenav-content>


</mat-sidenav-container>